<div class="content" role="main">
    <div class="wrapper">
        <div class="contentPanel">
            <div class="grid">
                <div class="grid-col grid-col_size10of10">
                    <div class="userContent">
                        <h1>Error 404 Page Not Found</h1>
                        <div class="alert alert-error alert-block">
                            <h4>Error!</h4>
                            {{ content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
