            <div class="masthead row" role="banner">
                {{ layout.navigation|raw }}
                <div class="masthead-banner">
                    <div class="wrapper">
                        <div class="cap">
                            <div class="cap-hd">
                                <a href="{{ layout.baseurl }}"><img src="{{ asset.file('img/nerdery-logo.png') }}" /></a>
                            </div>
                            <div class="cap-bd">
                                <div class="site-name"><a href="{{ layout.baseurl }}">{{ layout.sitename }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
