<div class="masthead-nav">
    <div class="wrapper">
        <ul class="nav" role="navigation">
            {% for item in navigation %}
                {% if item.isActive %}
            <li class="nav-item_isActive"><a href="{{ item.href(true) }}">{{ item.text }}</a></li>
                {% else %}
            <li><a href="{{ item.href(true) }}">{{ item.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
