{# This file doesn't work when it is included. I need to make greengrape handle
vars in templates better #}
    {% if layout.exercise|length > 0 %}
    <div class="" style="text-align: right;margin-top:20px;">
        {% if layout.exercise > 0 %}
        <a href="ex{{ (layout.exercise - 1) }}">&laquo; Prev</a>
        {% else %}
        <span>&laquo; Prev</span>
        {% endif %}
        |
        {% if layout.exercise < 40 %}
        <a href="ex{{ (layout.exercise + 1) }}">Next &raquo;</a>
        {% else %}
        <span>Next &raquo;</span>
        {% endif %}
    </div>
    {% endif %}
