<div class="content" role="main">
    <div class="wrapper">
        <div class="contentPanel">
            <div class="grid">
                <div class="grid-col grid-col_size10of10">
                    <div class="userContent">
                        {{ content|raw }}
                    </div>

                    {% if exercise|length > 0 %}
                    <div class="" style="text-align: right;margin-top:20px;">
                        {% if prev|length > 0 %}
                            <a href="{{ prev }}">&laquo; Prev</a>
                        {% else %}
                            {% if exercise > 0 %}
                            <a href="ex{{ (exercise - 1) }}">&laquo; Prev</a>
                            {% else %}
                            <span>&laquo; Prev</span>
                            {% endif %}
                        {% endif %}
                        |
                        {% if next|length > 0 %}
                            <a href="{{ next }}">Next &raquo;</a>
                        {% else %}
                            {% if exercise < 40 %}
                            <a href="ex{{ (exercise + 1) }}">Next &raquo;</a>
                            {% else %}
                            <span>Next &raquo;</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
