            <div class="masthead row" role="banner">
                <img class="pull-left" src="{{ asset.file('img/greengrape.jpg') }}"
                title="Painting by Abbey Ryan (ryanstudio.blogspot.com)" />
                <div class="site-name"><a href="/">{{ layout.sitename }}</a></div>
            </div>
