<div class="content" role="main">
    {{ content|raw }}
    {% if exercise|length > 0 %}
    <div class="" style="text-align: right;margin-top:20px;">
        {% if exercise > 0 %}
        <a href="ex{{ (exercise - 1) }}">&laquo; Prev</a>
        {% else %}
        <span>&laquo; Prev</span>
        {% endif %}
        |
        {% if exercise < 40 %}
        <a href="ex{{ (exercise + 1) }}">Next &raquo;</a>
        {% else %}
        <span>Next &raquo;</span>
        {% endif %}
    </div>
    {% endif %}
</div>
