/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor
Contributors: N/A

Target Browsers: IE9+, Chrome, Firefox, Safari, Opera
Media Type: Screen, Projection
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Font Inclusion
------------------------------------------------------------------------ */
@font-face {
  font-family: 'Stratum2Regular';
  src: url("../fonts/stratum/stratum2-regular-webfont.eot");
  src: url("../fonts/stratum/stratum2-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/stratum/stratum2-regular-webfont.woff") format("woff"), url("../fonts/stratum/stratum2-regular-webfont.ttf") format("truetype"), url("../fonts/stratum/stratum2-regular-webfont.svg#Stratum2Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Stratum2Bold';
  src: url("../fonts/stratum/stratum2-bold-webfont.eot");
  src: url("../fonts/stratum/stratum2-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/stratum/stratum2-bold-webfont.woff") format("woff"), url("../fonts/stratum/stratum2-bold-webfont.ttf") format("truetype"), url("../fonts/stratum/stratum2-bold-webfont.svg#Stratum2Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Regular-webfont.svg#Stratum2Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ---------------------------------------------------------------------
 CSS Reset
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll; }

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent; }

/* ---------------------------------------------------------------------
 Base Elements
------------------------------------------------------------------------ */
body {
    background-color: #e6e6e6;
    color: #343129;
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: underline;
    color: #343129;
}

a:hover,
a:focus {
    color: #343129;
}

img, video, canvas {
    max-width: 100%;
}

/* ---------------------------------------------------------------------
 Masthead

 Styles for the global masthead used throughout the site.
------------------------------------------------------------------------ */
.masthead {
    background-color: #343129;
}

/* ---------------------------------------------------------------------
 Navigation

 Styles for the global navigation used throughout the site.
------------------------------------------------------------------------ */
.nav {
    text-align: right;
    font-size: 0;
}

.nav > li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 0.875rem;
}

.nav > li > a {
    display: block;
    padding: 14px 8px;
    border: 4px solid transparent;
    font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    color: #dfe1cf;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color linear 0.2s;
    -moz-transition: background-color linear 0.2s;
    -o-transition: background-color linear 0.2s;
    transition: background-color linear 0.2s;
}
@media (min-width: 60em) {
    .nav > li > a {
        padding: 26px 14px;
        font-size: 1rem;
    } 
}

.nav > .nav-item_isActive > a,
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: #dfe1cf;
}

.nav > .nav-item_isActive > a {
    border-top: 4px solid #d7c300;
}

.nav-item-subnav {
    display: none;
}

/* ---------------------------------------------------------------------
 Cap

 Styles for the main "cap" to the website content.
------------------------------------------------------------------------ */
.cap {
    height: 50px;
    position: relative;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #8b9b92;
}
@media (min-width: 60em) {
    .cap {
        height: 80px;
    }
}

.cap-hd {
    position: absolute;
    top: -22px;
    left: 10px;
    width: 120px;
}
@media (min-width: 60em) {
    .cap-hd {
        top: -23px;
        left: 20px;
        width: auto;
    }
}

.cap-bd {
    position: absolute;
    left: 140px;
}
@media (min-width: 60em) {
    .cap-bd {
        left: 200px;
    }
}

/* ---------------------------------------------------------------------
 Content Panel

 A simple white box
------------------------------------------------------------------------ */
.contentPanel {
  background-color: white;
  padding: 60px 20px 20px 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  @media (min-width: 60em) {
    .contentPanel {
      padding: 80px 40px 40px 40px; } }

/* ---------------------------------------------------------------------
 Footer

 Styles for the global footer used throughout the site.
------------------------------------------------------------------------ */
.footer {
  padding: 40px 20px 40px 20px;
  text-align: right;
  font-size: 0.75rem; }

/* ---------------------------------------------------------------------
 Wrapper

 Wrapper to constrain the site width from geting overaly large.
------------------------------------------------------------------------ */
.wrapper {
  max-width: 1080px;
  min-width: 280px;
  margin: 0 auto; }

/* ---------------------------------------------------------------------
 Grid

 The main grid used throughout the site.
------------------------------------------------------------------------ */
.grid-col {
  padding-bottom: 20px; }

@media (min-width: 50em) {
  .grid:before, .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }

  .grid-col {
    float: left;
    padding-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .grid-col + .grid-col {
    padding-left: 40px; }

  .grid-col_size1of10 {
    width: 10%; }

  .grid-col_size2of10 {
    width: 20%; }

  .grid-col_size3of10 {
    width: 30%; }

  .grid-col_size4of10 {
    width: 40%; }

  .grid-col_size5of10 {
    width: 50%; }

  .grid-col_size6of10 {
    width: 60%; }

  .grid-col_size7of10 {
    width: 70%; }

  .grid-col_size8of10 {
    width: 80%; }

  .grid-col_size9of10 {
    width: 90%; }

  .grid-col_size10of10 {
    width: 100%; } }
@media (min-width: 60em) {
  .grid-col + .grid-col {
    padding-left: 60px; } }
/* ---------------------------------------------------------------------
 Widget

 Styles for the main widget
------------------------------------------------------------------------ */
.widget {
  padding-bottom: 20px; }

.widget-hd {
  padding-bottom: 10px; }

/* ---------------------------------------------------------------------
 Heading

 Type styles for headings throughout the site.
------------------------------------------------------------------------ */
.hdg {
  font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
  color: #343129; }

.hdg a {
  text-decoration: none; }

.mix-hdg_xxxl {
  font-size: 1.5rem; }
  @media (min-width: 50em) {
    .mix-hdg_xxxl {
      font-size: 2.5rem; } }

.mix-hdg_xxl {
  font-size: 1.5rem; }
  @media (min-width: 50em) {
    .mix-hdg_xxl {
      font-size: 2.5rem; } }

.mix-hdg_xl {
  font-size: 1.25rem; }
  @media (min-width: 50em) {
    .mix-hdg_xl {
      font-size: 1.5rem; } }

.mix-hdg_lg {
  font-size: 1rem; }
  @media (min-width: 50em) {
    .mix-hdg_lg {
      font-size: 1.25rem; } }

.mix-hdg_md {
  font-size: 1rem; }

.mix-hdg_sm {
  font-size: 0.875rem; }

.mix-hdg_xs {
  font-size: 0.75rem; }

/* ---------------------------------------------------------------------
 PageTitle

 Styel for the main heading of each page.
------------------------------------------------------------------------ */
.pageTitle {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6; }
  @media (min-width: 50em) {
    .pageTitle {
      padding-bottom: 20px;
      margin-bottom: 20px; } }

/* ---------------------------------------------------------------------
 vlist

 Vertical lists used throughout the site.
------------------------------------------------------------------------ */
.vlist > * {
  margin-bottom: 7px; }

/* ---------------------------------------------------------------------
 User Content

Quarantine styles applied to areas where content is dynamic and
generated by a content editor / CMS. 

Usage
<div class="user-content">
...
</div>
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
userContent default
------------------------------------------------------------------------ */
.userContent {
    font: normal 14px/1.4 "OpenSans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #333333;
}

/* ---------------------------------------------------------------------
userContent paragraphs
------------------------------------------------------------------------ */
.userContent p {
    margin: 0 0 12px 0;
}

.userContent p:first-of-type {
    font-size: 18px;
}

/* ---------------------------------------------------------------------
userContent headings
------------------------------------------------------------------------ */
.userContent h1 {  
    font-size: 24px;
    line-height: 1;
    font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
    margin: 0 0 12px 0;
}
@media (min-width: 50em) {
    .userContent h1 {
        font-size: 32px;
     }
}

.userContent h2 {
  margin: 0 0 12px 0;
  font-size: 1.25rem;
  font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
  line-height: 1; }
  @media (min-width: 50em) {
    .userContent h2 {
      font-size: 1.5rem; } }

.userContent h3 {
  margin: 0 0 12px 0;
  font-size: 1rem;
  font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
  line-height: 1; }
  @media (min-width: 50em) {
    .userContent h3 {
      font-size: 1.25rem; } }

.userContent h4 {
    margin: 0 0 12px 0;
    font-size: 1rem;
    font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
    line-height: 1;
}

.userContent h5 {
    margin: 0 0 12px 0;
    font-size: 1rem;
    font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
    line-height: 1;
}

.userContent h6 {
    margin: 0 0 12px 0;
    font-size: 1rem;
    font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
    line-height: 1;
}

/* ---------------------------------------------------------------------
userContent sections
------------------------------------------------------------------------ */
.userContent blockquote {
    margin: 0 0 12px 0;
    padding: 8px 12px;
    border-left: 4px solid #e6e6e6;
}

.userContent blockquote p:first-of-type {
    font-size: inherit;
}

.userContent blockquote p:last-of-type {
    margin-bottom: 0;
}

.userContent address {
    margin: 0 0 12px 0;
    font-style: italic;
}

/* ---------------------------------------------------------------------
userContent anchors
------------------------------------------------------------------------ */
.userContent a:link {
    text-decoration: underline;
    color: #343129;
}

.userContent a:focus,
.userContent a:hover {
    color: #343129;
}

/* ---------------------------------------------------------------------
userContent text formatting
------------------------------------------------------------------------ */
.userContent strong,
.userContent b {
    font-weight: bold;
}

.userContent em,
.userContent i {
    font-style: italic;
}

.userContent del,
.userContent strike,
.userContent s {
    text-decoration: line-through;
}

.userContent u,
.userContent ins {
    text-decoration: underline;
}

.userContent sup {
    vertical-align: super;
    font-size: smaller;
}

.userContent sub {
    vertical-align: sub;
    font-size: smaller;
}

.userContent big {
    font-size: larger;
}

.userContent small {
    font-size: smaller;
}

.userContent abbr,
.userContent acronym {
    border-bottom: 1px dotted;
}

.userContent cite,
.userContent dfn {
    font-style: italic;
}

.userContent q {
    font-style: italic;
}

.userContent q::before {
    content: open-quote;
}

.userContent q::after {
    content: close-quote;
}

.userContent q:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.userContent bdo {
    direction: rtl;
}

.userContent blink {
    text-decoration: blink;
}

/* ---------------------------------------------------------------------
userContent computer output
------------------------------------------------------------------------ */
.userContent pre {
    padding: 24px;
    border: 1px solid #e6e6e6;
    margin: 0 0 12px 0;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: normal;
    background: #f8f8f8;
    font-size: 0.75rem;
    line-height: 1.68;
}

.userContent code,
.userContent samp,
.userContent tt,
.userContent kbd {
    font-family: "Lucida Console", Monaco, monospace;
    background: #f8f8f8;
    font-size: 0.75rem;
    line-height: 1.68;
    border: 1px solid #e6e6e6;
    display: inline-block;
    padding: 0 4px;
}

.userContent pre code {
    border: none;
    padding: 0;
    display: block;
    white-space: pre;
}

.userContent var {
    font-family: "Lucida Console", Monaco, monospace;
    background: #f8f8f8;
    font-size: 0.75rem;
    line-height: 1.68;
    border: 1px solid #e6e6e6;
    display: inline-block;
    padding: 0 4px;
    font-style: italic;
}

/* ensure code inside headings inherits the font size */
.userContent h1 code,
.userContent h2 code {
    font-size: inherit;
    font-weight: bold;
}

/* ---------------------------------------------------------------------
userContent lists
------------------------------------------------------------------------ */
.userContent ul,
.userContent ol,
.userContent dl {
    margin-top: 0;
    margin-bottom: 12px;
}

.userContent ul {
    list-style-type: disc;
    margin: 0 0 12px 0;
}

.userContent ol {
    list-style-type: decimal;
    margin: 0 0 12px 0;
}

.userContent dt {
    font-weight: bold;
}

.userContent li,
.userContent dd {
    margin: 0 0 0 24px;
}

/* nested lists have no top/bottom margins */
.userContent ul ul,
.userContent ul ol,
.userContent ul dl,
.userContent ol ul,
.userContent ol ol,
.userContent ol dl,
.userContent dl ul,
.userContent dl ol,
.userContent dl dl {
    margin-top: 0;
    margin-bottom: 0;
}

/* 2 deep unordered lists use a circle */
.userContent ol ul,
.userContent ul ul {
    list-style-type: circle;
}

/* 3 deep (or more) unordered lists use a square */
.userContent ol ol ul,
.userContent ol ul ul,
.userContent ul ol ul,
.userContent ul ul ul {
    list-style-type: square;
}

/* ---------------------------------------------------------------------
userContent tables
------------------------------------------------------------------------ */
.userContent table {
    margin: 0 0 20.04px 0;
    width: 100% !important;
}

.userContent caption {
    font-size: smaller;
    padding: 8px 0;
    background-color: #e6e6e6;
}

.userContent tr {
    vertical-align: middle;
}

.userContent tbody {
    vertical-align: middle;
}

.userContent thead {
    vertical-align: middle;
}

.userContent tfoot {
    vertical-align: middle;
}

.userContent td {
    vertical-align: inherit;
    text-align: inherit;
    padding: 8px 10px;
    border: 1px solid #e6e6e6;
}

.userContent th {
    vertical-align: inherit;
    text-align: left;
    font-weight: bold;
    padding: 8px 10px;
    background-color: #5f6062;
    color: #ffffff;
}

.user-content tr:nth-child(even) td {
    background-color: #cccccc;
}

/* ---------------------------------------------------------------------
userContent horizontal rule
------------------------------------------------------------------------ */
.userContent hr {
    margin: 0 0 12px 0;
    background: #e6e6e6;
    color: #e6e6e6;
    height: 1px;
    border: none;
    line-height: 1px;
    font-size: 1px;
}

/* ---------------------------------------------------------------------
userContent media
------------------------------------------------------------------------ */
.userContent img,
.userContent video,
.userContent audio {
    max-width: 100% !important;
}

/* ---------------------------------------------------------------------
 Anchor Link
------------------------------------------------------------------------ */

/* usercontent headings 2 and 3 are targeted by anchor-link */
h2,
h3 {
    position: relative;
}

.anchor-link {
    opacity: 0;
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", Arial, san-serif;
    font-size: 18px;
    -webkit-transition: opacity linear .1s;
    left: -15px;
    padding-right: 10px;
    position: absolute;
    text-decoration: none;
}

.anchor-link:hover {
    opacity: 1 !important;
    color: #000;
    text-decoration: none;
}

h2 .anchor-link {
    text-decoration: none;
}

h2:hover .anchor-link,
h3:hover .anchor-link {
    opacity: .5;
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Alert block
------------------------------------------------------------------------ */
.alert-error h3,
.alert-error h4 {
    color: #a94442;
}

.alert-error p {
    padding: 10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.alert-block pre {
    padding: 10px;
    background-color: #eeeeee;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow-y: scroll;
}

/* ---------------------------------------------------------------------
 Callout
------------------------------------------------------------------------ */
.callout {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.callout-body {
    padding: 12px;
}

.callout_convention .callout-body {
    background: transparent url(../img/icon-solution.png) 10px center no-repeat;
    padding-left: 94px;
    min-height: 60px;
}

.callout_convention:before {
    content: "Common Convention";
    background-color: #f9f9f9;
    font-weight: bold;
    width: 158px;
    position: relative;
    top: -1px;
    left: -1px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2px 4px;
    display: block;
}

.callout_takenote .callout-body {
    background: transparent url(../img/icon-reminder.png) 10px center no-repeat;
    padding-left: 94px;
    min-height: 60px;
}

.callout_takenote:before {
    content: "Take Note";
    background-color: #f9f9f9;
    font-weight: bold;
    width: 83px;
    position: relative;
    top: -1px;
    left: -1px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2px 4px;
    display: block;
}

/* ---------------------------------------------------------------------
 Masthead Sitename
------------------------------------------------------------------------ */
.masthead .site-name {
    font-family: "Stratum2Bold", Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin-top: 9px;
    font-weight: bold;
    color: #ffffff;}
  @media (min-width: 60em) {
    .masthead .site-name {
      font-size: 48px; } }

.masthead .site-name a,
.masthead .site-name a:visited {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
}

/* ---------------------------------------------------------------------
 Footnotes
------------------------------------------------------------------------ */
/* No margin for p tags inside footnotes div */
.footnotes li {
    font-size: 90%;
}

.footnotes p,
.footnotes p:first-of-type {
    font-size: 90%;
    margin: 0;
}
